@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}
.navbar{
    background-color:#5e7dd2;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar h1{
    color: whitesmoke;
    font-size: 2em;
    margin-left: 50px;
}
.navbar ul{
    list-style: none;
    display: flex;
}
.navbar ul li a{
    color: whitesmoke;
    text-decoration: none;
    padding: 0 10px;
}
.navbar ul li a:hover{
    text-decoration: 2px underline;
    text-underline-offset: 3px;
}
.navbar div a{
    text-decoration: none;
    color: white;
    border: 2px solid whitesmoke;
    margin-right: 50px;
    padding: 9px 25px;
    border-radius: 25px;
    font-weight: 600;
    transition:  background-color 0.3s linear, color 0.3s linear;
}
.navbar div a:hover{
    background-color: whitesmoke;
    color: #5e7dd2;
}
.main-section{
    display: flex;
    width: 100%;
    height: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(./img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.main-section .big-headline h1{
    color: #5e7dd2;
    font-size: 5em;
    margin: 0 50px;
    margin-bottom: 50px;
    text-align: center;
}
.main-section .big-headline h1 span{
    color: black;
}
.main-section form input{
    font-size: 1.4em;
    padding: 9px 25px;
    outline: none;
    border: 2px solid #5e7dd2;
    border-radius: 10px;
}
.main-section form input:focus{
    border-color: crimson;
}
.main-section form button{
    color: whitesmoke;
    background-color: #5e7dd2;
    border: 2px solid #5e7dd2;
    padding: 9px 25px;
    font-size: 1.4em;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s linear, border-color 0.3s linear;
    margin-left: 30px;
}
.main-section form button:hover{
    background-color: crimson;
    border-color: crimson;
}